h3{
    margin-top: 0px;
    font-weight:bold;
}

.product {
  margin-bottom:15px;
}

.product-image {
  height:115px;
}

.product-image img {
  margin: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: auto;
  max-height:100%;
}
