<footer class="footer">
	<div class="container">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center">
			&copy; {{ 'header.title' | translate }}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center">
			<a href="http://capssocialplatform.azurewebsites.net">{{ 'menu.community' | translate }}</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
			<!--Good luck adding this-->
			<!--<ul class="footer-menu">-->
        <!--<li><a routerLink="/store/caps">{{ 'menu.caps' | translate }}</a></li>-->
        <!--<li><a routerLink="/store/men">{{ 'menu.male' | translate }}</a></li>-->
        <!--<li><a routerLink="/store/women">{{ 'menu.female' | translate }}</a></li>-->
    	<!--</ul>-->
		</div>
	</div>
</footer>
