h1 { margin-top: 10px; }
h1 small { font-size: 16px; }
h3 { margin-top: 0 }
hr { margin: 7px 0; }
ul { list-style: none; padding: 0; }
ul li.margin-bottom { margin-bottom: 7px; }
span.label { margin-top: 3px; }
.colorframe{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 7px;
    display: inline-block;
}