<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 column">
        <span  class="list-group-item clearfix link">
          <div class="producttitle">
            <h4>{{ 'admin.edit' | translate }} {{ 'admin.a_order' | translate }}</h4>
          </div>
          <div class="gobtn">
            <button  routerLink="admin-order" class="btn btn-primary">{{ 'admin.go-to' | translate }} {{ 'menu.orders' | translate }}</button>
          </div>
        </span>
      </div>
      <div class="col-md-6 column">
        <span class="list-group-item clearfix link">
          <div class="producttitle">
            <h4>{{ 'admin.edit' | translate }} {{ 'admin.a_product' | translate }}</h4>
          </div>
          <div class="gobtn">
            <button routerLink="admin-product" class="btn btn-primary">{{ 'admin.go-to' | translate }} {{ 'menu.products' | translate }}</button>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
